<div class="container top-space">
  <br>
  <h1 class='text-center'>Sponsor Information</h1>
  <br>
  <br>
  <div class='col-md-4 col-xs-12 col-sm-6'>
    <%= render 'form' %>
  </div>
  <div class='col-md-8 col-xs-12 col-sm-6'>
    <h1 class='text-center'>Windows of Worlds collects your info for a few reasons:</h1>
    <ol>
      <h3><li>Remind you when the Reception is.</li></h3>
      <h3><li>Inform you when the Sponsor Banquet is.</li></h3>
      <h3><li>Send you your shirt (if you're a World or Star Sponsor).</li></h3>
      <h3><li>Share important project updates (photos, news, etc.).</li></h3>
    </ol>
    <h4><strong>Your information <u>WILL NOT</u> be shared.</strong></h4>
  </div>
</div>

