<div class="container content top-space">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">WOW Gallery</h2>
        <!--         <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
         -->    
    </div>

    <div class="row  margin-bottom-30">
        <div class="col-md-4 col-sm-12 col-xs-12 sm-margin-bottom-30">
            <a href="assets/wow-purp.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 1">
                <span><img class="img-responsive" src="assets/wow-purp.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 sm-margin-bottom-30">
            <a href="assets/wow-g.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 2">
                <span><img class="img-responsive" src="assets/wow-g.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 sm-margin-bottom-30">
            <a href="assets/wow-little.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 3">
                <span><img class="img-responsive" src="assets/wow-little.jpg" alt=""></span>
            </a>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-4 col-sm-12 col-xs-12 sm-margin-bottom-30">
            <a href="assets/wow-girls.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 7">
                <span><img class="img-responsive" src="assets/wow-girls.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 sm-margin-bottom-30">
            <a href="assets/wow-blue.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 8">
                <span><img class="img-responsive" src="assets/wow-blue.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 sm-margin-bottom-30">
            <a href="assets/wow-eyes.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 9">
                <span><img class="img-responsive" src="assets/wow-eyes.jpg" alt=""></span>
            </a>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-4 col-sm-12 col-xs-12 sm-margin-bottom-30">
            <a href="assets/wow-facepaint.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 4">
                <span><img class="img-responsive" src="assets/wow-facepaint.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 sm-margin-bottom-30">
            <a href="assets/wow-geswerk.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 5">
                <span><img class="img-responsive" src="assets/wow-geswerk.jpg" alt=""></span>
            </a>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 sm-margin-bottom-30">
            <a href="assets/wow-frames.jpg" rel="gallery3" class="fancybox img-hover-v1" title="Image 6">
                <span><img class="img-responsive" src="assets/wow-frames.jpg" alt=""></span>
            </a>
        </div>
    </div>
</div>