<div class="copyright-section">
            <p>2010-<%= DateTime.now.strftime("%Y") %> &copy; All Rights Reserved.</p>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/windowsofworlds?fref=ts" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
                <li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
                <li><a href="#" data-original-title="Instagram" class="social_instagram rounded-x"></a></li>
            </ul>
            <span class="page-scroll">
              <a href="#intro">
                <i class="glyphicon glyphicon-chevron-up"></i>
              </a>
            </span>
        </div>